---
layout: listing
title: Posts
---
{% if paginator.total_pages > 1 %}
<div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="paginator__button paginator__button--newer">&laquo; Newer</a>
    {% endif %}

    {% if paginator.previous_page and paginator.next_page %}
    <span class="paginator__divider">/</span>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="paginator__button paginator__button--older">Older &raquo;</a>
    {% endif %}
</div>
{% endif %}


<!DOCTYPE html>
<html>
    <main class="posts posts--home" role="main">
        <p align="center">Feel free to connect with my on my email. If you want to have a chat, I can hop on a call on the contact number below</p>
        <ul class="posts__list posts--home__list">

            <li class="posts__entry posts--home__entry">
                <div class="posts__entry-title posts__entry-title--home">
                </div>
                <h2>Avinash Saxena</h2>
                <br><br>
                <a href="mailto:avinash13.iitkgp@gmail.com">avinash13.iitkgp@gmail.com</a>
                <br><br>
                <a href="mailto:avinash13.tamu@gmail.com">avinash13.tamu@gmail.com</a>
                <br><br>
                <a href="contact.html" style="color:blue">phone: +1-979-739-8030</a>

            </li>


        </ul>
    </main>
</body>
<script src="/site.js"></script>
</html>
