---
layout: listing
title: Posts
---

{% if paginator.total_pages > 1 %}
<div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="paginator__button paginator__button--newer">&laquo; Newer</a>
    {% endif %}

    {% if paginator.previous_page and paginator.next_page %}
    <span class="paginator__divider">/</span>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="paginator__button paginator__button--older">Older &raquo;</a>
    {% endif %}
</div>
{% endif %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="tyJCtd mGzaTb baZpAe">
    <h2 class="zfr3Q JYVBee" id="h.p_WmroQkpJOXWO"><a class="dhtgD" href="/view/avinash-saxena-cse/oracle-experience-letter">Oracle india pvt ltd June, 2014-July, 2017</a></h2>
    <h3 class="zfr3Q OmQG5e" id="h.p_DgARxMlTOkyV">Software Development Engineer</h3>
    <p class="zfr3Q" id="h.p_1qfduJ_cFL0T"><strong>Document Cloud Service in Managed File Transfer</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_XgkZKqjOYgAJ">Integrated Document Cloud Service in MFT consuming REST API’s exposed by Document Cloud Service</li>
        <li class="zfr3Q TYR86d" id="h.p_Rrk45sqYYiBe">Created features to support both upload and download of documents from Document Cloud Service</li>
        <li class="zfr3Q TYR86d" id="h.p_IUksXP7lYkQJ">Added pagination support to manage large number of responses for customer use cases</li>
    </ul>
    <p class="zfr3Q" id="h.p_fOkba6RgC7nE"><br></p>
    <p class="zfr3Q" id="h.p_4tmdXjNVYXJO"><strong>Integrated Cloud Suite for Oracle</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_dbocfA_vYn8K">Ideated a number of APIs required to be exposed for new offering of Integrated Cloud Suite</li>
        <li class="zfr3Q TYR86d" id="h.p_pZIgdHeLYpnH">Developed and exposed various REST APIs to analyze health of SFTP Servers, logged in users and files uploaded</li>
        <li class="zfr3Q TYR86d" id="h.p_xr5xj4V4YquV">Utilized distributed caching to make health data available for all the nodes in a cluster</li>
    </ul>
    <p class="zfr3Q" id="h.p_Hux5U0CTYXJa"><strong>Managed File Transfer (MFT)</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_AUN-eU83YuYx">Worked on core architecture and development of various features in MFT product.</li>
        <li class="zfr3Q TYR86d" id="h.p_ohdlwRERYwtD">Ideated complete architecture of a new pluggable file system for MFT, that made using any type of file system compatible with MFT</li>
        <li class="zfr3Q TYR86d" id="h.p_1Mg5apiSYzJc">Developed end to end feature of scheduling events to remove archived transfer information from MFT to reduce space usage</li>
        <li class="zfr3Q TYR86d" id="h.p_DihLWyt4Y0pB">Integrated MFT Inbound (source side) and outbound (target side) with a cloud offering product of Oracle, Document Cloud Service</li>
        <li class="zfr3Q TYR86d" id="h.p_oQVaPXuaY2L7">Developed import and export features in MFT, using XSD and XML parsers. Created relevant Java Objects from XML and vice-versa.</li>
    </ul>
    <p class="zfr3Q" id="h.p_7NsslQGLYXJn"><strong>Integrated Cloud Service (ICS): Enterprise Resource Planning</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_RtM_4dp7Y5gs">Developed ERP adapter for ICS, in a matter of 1 week, and presented the demo to the team</li>
        <li class="zfr3Q TYR86d" id="h.p_hKpdbg_JY7Sd">Enabled a new file framework for MFT that will provide a significant boost to MFT in cloud domain</li>
    </ul>
    <p class="zfr3Q" id="h.p_6CKu5m9_YW22"><strong>Domain Creation Automation</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_mJ7iP5aDY__j">Create scripts using Python and shell to automate the domain creation for MFT</li>
        <li class="zfr3Q TYR86d" id="h.p_7__IdsXVZOI7">The script would modify and add required data sources, create folders required, add all required templates based on configuration used and start the required servers</li>
    </ul>
    <p class="zfr3Q" id="h.p_ZKEh-PncFoB3"><strong>Product Installation Automation:</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_wC7kETb7Zc3b">Created scripts using Python and Shell to automate installation of MFT product</li>
        <li class="zfr3Q TYR86d" id="h.p_qNI4CYfjZkqY">The scripts would copy all the required binaries in the installation folder and then go ahead with domain creation</li>
    </ul>
    <p class="zfr3Q" id="h.p_4LuU8vFYFsUR"><strong>Knowledge Session:</strong></p>
    <ul class="n8H08c UVNKR">
        <li class="zfr3Q TYR86d" id="h.p_fCSwcxQFaPQt">I have presented speeches on 11 different topics to audience in Oracle during Toastmaster sessions</li>
        <li class="zfr3Q TYR86d" id="h.p_GUwvJx4AaatB">I have presented my development work to folks in Oracle during demonstrations and handover sessions</li>
    </ul>
    <p class="zfr3Q" id="h.p_1kgzHpsEOk93"><br></p>
</div>
</body>
</html>